body {
	background: #fff url(../img/bg_body.gif) 0 0;
	font: 12px Arial,sans-serif;
}

h1 {
	color: #141414;
	font: 20px Arial,sans-serif;
	padding: 20px 0 20px 20px;
}

a {
	color: #141414;
	text-decoration: none;
}

/* HEADER */
.header {
	background: #141414 url(../img/bg.jpg) 0 0 no-repeat;
	background-size: 100%;
	height: 350px;
}

.head_name {
	color: #eee;
	font: bold 24px Verdana;
	text-align: right;
	text-shadow: 1px 1px 2px #916315;
	padding: 50px 50px 0 0;
}

.contacts {
	color: #eee;
	font: bold 14px Tahoma;
	text-shadow: 1px 1px 2px #916315;
	line-height: 1.5;
	padding: 175px 0 0 650px;
	text-align: center;
}
.contacts span {
	display: block;
}
.contacts a {
	color: #eee;
	text-decoration: none;
}
.contacts img {
	padding: 4px 0 0 4px;
	border-bottom: 1px solid transparent;
}
.contacts img:hover {
	border-bottom: 1px solid #eee;
}

/* CONTENT */
.main {
	background: #eee;
	margin: 0 auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 2px;
	box-shadow: 0 0 3px #888;
	width: 900px;
}

.about {
	color: #4a4a4a;
	font: 14px Arial,sans-serif;
	padding: 1px 0 1px 50px;
	line-height: 1.5;
}

.about a {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-style: dashed;
	-moz-text-decoration-style: dashed;
}

.about:first-letter {
	font: bold 1em Arial,sans-serif;
	color: black;
}

.outer {
	position: relative;
	text-align: center;
	z-index: 0;
	margin: 14px 0 0 0;
}

.outer img {
	border-radius: 1px;
	border: 3px solid #333333;
	display: -moz-inline-box;
	display: inline-block;
	display: inline-table;
	height: auto;
	overflow: visible;
	position: relative;
	vertical-align: middle;
	z-index: -1;
}

.outer figure {
	display: -moz-inline-box;
	display: inline-table;
	height: auto;
	margin: 4px;
	width: 200px;
	max-width: 300px;
	overflow: visible;
	vertical-align: middle;
}

.outer figcaption {
	padding: 5px;
	height: 50px;
}

.border {
	border-radius: 2px;
	border: 2px solid #9d9d9d;
	box-shadow: inset 0px 0px 1px 2px #333333;
}

.border:hover {
	border: 2px solid #333333;
}


/* FOOTER */
.footer {
	background: #141414;
	height: 100px;
	text-align: center;
}
.footer span {
	color: #eee;
	display: block;
}
