html, body {
	height: 100%;
	min-height: 100%;
}

a {
	text-decoration: none;
}
.wrapper {
	width: 912px;
	margin: 0 auto;
}


/* HEADER */
header {

}

header a {
	text-transform: uppercase;
	color: #b1bcc0;
}

header a:hover {
		color: white;
}

.banner {
		background: #fff url(../img/bg_header.png) 0 0 no-repeat;
		width: 909px;
		height: 237px;
		margin: 5px 0 5px 0;
}
/* MENU */
.koshyk {
		color: #8a9296;
		font: 11px Arial,sans-serif;
		line-height: 34px;
		margin-left: 750px;

}
.menu {
		font: 14px Arial,sans-serif;
		width: 912px;
		height: 34px;
		background-image: linear-gradient(to top, black 0%, #576068 100%);
		border: 1px solid #0d1642;
		border-radius: 5px;
		box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
		margin: 0 auto;
		text-align: center;
}

.menu ul {
	position: absolute;
}

.menu li {
		position: relative;
		float: left;
		list-style: none;
}

.menu li a {
  position: relative;
  padding: 0 10px;
  display: block;
  line-height: 34px;
  text-decoration: none;
  font-size: 14px;
}

.menu li a:hover {
		color: #ffffff;
		width: 123px;
		height: 26px;
		background-image: -webkit-linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);
		background-image: -o-linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);
		background-image: linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);
}

/* CONTENT */
.main {
		height: 100%;
		min-height: 100%;
}

.brandLogo {
		margin: 20px 0 20px 0;
		text-align: center;
}

.brandLogo > img {
	padding: 0 10px 0 10px;
}

/* FOOTER */
footer {
		background-color: #213a4d;
		border: 1px solid #242a3c;
		width: 910px;
		height: 101px;
		margin: 0 auto;
}

.copy {
	font: 10px Arial,sans-serif;
	color: #7f4740;
	line-height: 18px;
	text-align: center;
}
.copy a {
	color: #7f4740;
}
