html, body {
  font: normal 14px Arial, Helvetica, Sans-Serif;
}

header {
  background:#ffffff url('../images/011.gif');
  background-repeat:repeat;
  background-attachment:fixed;
  z-index: 0;
  height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 18px;
  color: #0000a8;
  margin: 10px 0 10px 0;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: 13px;
  color: #3965b7;
  margin: 4px 0 4px 0;
}
h3 {
  font-weight: bold;
  font-size: 12px;
  color: #3965B7;
  margin: 4px 0 4px 0;
}
h4 {
  font: bold 12pt Arial, Helvetica, Sans-Serif;
  color: #000066;
  margin: 2px 0 4px 0;
}
h5 {
  font: bold 12pt Arial, Helvetica, Sans-Serif;
  color: #0000a8;
}
figure, figcaption {
  text-align: center;
}

p {
  margin: 10px 5px 10px 15px;
}
p:first-letter {
  padding-left: 10px;
}

.wrapper {
/*  position: relative;*/
  overflow: hidden;
}

.sidebar {
  position: fixed;
  background-image:url('../images/grid.gif');
  background-repeat:repeat;
/*  background-attachment:fixed;*/
  width: 220px;
  height: 100%;
/*  min-height: 100%;*/
  margin-top: 72px;
}
.content {
  float: right;
  margin-left: 220px;
  margin-top: 75px;
}

footer {
  clear: both;
  height: 10px;
}

.container {
  width: 100%;
}
.btn__links {
  display: inline-block;
  background: #d6e7ef;
  border-bottom: #104a7b 1px solid;
  border-left: #afc4d5 1px solid;
  border-right: #104a7b 1px solid;
  border-top: #afc4d5 1px solid;
  color: #000066;
  cursor: hand;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  width: 125px;
  text-decoration: none;
  margin: 5px 0 0 15px;
  padding: 5px 0 0 10px;
}
.btn__links:hover {
  padding-left: 20px;
  width: 115px;
}

.logo {
/*  position: relative;*/
  z-index: 10;
  width: 155px;
  height: 72px;
  top: 50%;
  margin: 12px 0 0 10px;
  z-index: 5;
}
.marque {
  float: right;
  margin-left: 165px;
  position: fixed;
  top: 0;
  z-index: 15;
}
.m1 {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: #0000a8;
  margin: 10px 0 10px 0;
  text-align: center;
  width: 500px;
}
.m2 {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  color: #3965b7;
  margin: 4px 0 4px 0;
  width: 250px;
}
.m3 {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  color: #3965B7;
  margin: 4px 0 4px 0;
}

@media (min-width: 1024px) {
  header, .container {
    width: 1024px;
    max-width: 1024px;
  }
}

@media (max-width: 768px) {

  .content {
    margin: 105px 0;
  }
  .sidebar {
    width: 100%;
    height: 30px;
    text-align: center;

  }
  .btn__links {

    margin: 0;
    padding: 2px 0 2px 0;
    width: 100%;
  }
  .btn__links:hover {
    margin: 0;
    padding-left: 10%;
    width: 90%;
  }

  ul.links {
    text-align: center;
    line-height: 24px;
    padding: 2px 0 2px 0;
/*    display: inline-block;*/
    width: 100%;
  }
/*  ul.links:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
  }*/
  li.links {
    display: inline-block;
    text-align: center;
    width: 18%;
  }
  .mobile_view {
    display: none;
  }
}

@media (max-width: 640px) {
  header, .container, .sidebar, .content {
    width: 640px;
    max-width: 640px;
  }
}