body {
	font: normal 11pt Arial, Helvetica, sans-serif;
	color: #000000;
	line-height: 125%;
}

.menu {
	background-image:url('../images/grid.gif');
	background-repeat:repeat;
	background-attachment:fixed;
	text-indent:0;
}

.top {
	background:#ffffff url('../images/011.gif');
	background-repeat:repeat;
	background-attachment:fixed;
}

table, tr, td {
	font: normal 11pt Arial, Helvetica, sans-serif;
	color: #000000;
	line-height: 125%;
}

body:first-letter {
	font: bold 12pt Arial, Helvetica, Sans-Serif;
	color: #000066;
}
h1 {
	font: bold 14pt Arial, Helvetica, Sans-Serif;
	color: #0000a8;
	margin: 4px 0 4px 0;
	text-align: center;
}
h2 {
	font: bold 13pt Arial, Helvetica, Sans-Serif;
	color: #3965b7;
	margin: 4px 0 4px 0;
}
h3 {
	font: bold 12pt Arial, Helvetica, Sans-Serif;
	color: #3965B7;
	margin: 4px 0 4px 0;
}
h4 {
	font: bold 12pt Arial, Helvetica, Sans-Serif;
	color: #000066;
	margin: 2px 0 4px 0;
}
h5 {
	font: bold 12pt Arial, Helvetica, Sans-Serif;
	color: #0000a8;
}
hr {
	color: #3965b7;
	width: 85%;
	text-align: left;
}
a {
	color: #003399;
	text-decoration: underline;
	font-weight: normal;
}
a:visited {
	color: #003399;
	text-decoration: underline;
	font-weight: normal;
}
a:active {
	color: #003399;
	text-decoration: none;
	font-style: italic;
}
a:hover {
	color: #003399;
	text-decoration: underline;
	font-weight: normal;
}
ol, ul{
	font: italic bolder 11pt "Courier New", Courier, monospace;
}
li{
	line-height: 125%;
}
.clock {
	color: #000066;
	height: 14px;
	text-decoration: none;
	font: bold 12px "courier new", courier, monospace;
	text-align: center;
	border: 1px solid olive;
	width: 125px;
}
.sbttn {
	display: inline-block;
	background: #d6e7ef;
	border-bottom: #104a7b 1px solid;
	border-left: #afc4d5 1px solid;
	border-right: #104a7b 1px solid;
	border-top: #afc4d5 1px solid;
	color: #000066;
	cursor: hand;
	height: 18px;
	font-size: 12px;
	width: 125px;
	margin-bottom: 5px;
	padding-left: 5px;
	}
.tooltips {
	font: normal 12px Arial, Helvetica,sans-serif;
	background: #ffffc3;
	margin: 0;
	padding: 5px 5px 5px 5px;
	border: 1px solid #ffae00;
}
.opacity {
	position: absolute;
	visibility: hidden;
	width: 206px;
	top: 0;
	left: 0;
	z-index: 1;
	filter: Alpha(Opacity=94,style=0);
	-moz-opacity: 0.94
}
.copy {
	font: bold 12px Times New Roman,Roman;
	color: gray;
}
.comment {
	font: bold 14px Times New Roman,Roman;
}