body,table,tr,td {
	font: normal 11pt Arial, Helvetica, sans-serif;
	color: #000000;
	scrollbar-face-color: #3965B7;
	scrollbar-highlight-color: #000000;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-arrow-color: #CCCCCC;
	scrollbar-track-color: #E5E5E5;
	scrollbar-darkshadow-color: #000000;
	line-height:125%;
}
td:first-letter {
font:bold 12pt Arial, Helvetica, Sans-Serif;
color: #000066;
}
h1 {
font:bold 14pt Arial, Helvetica, Sans-Serif;
color: #0000A8;
margin:4px 0px 4px 0px;
text-align:center;
}
h2 {
font:bold 13pt Arial, Helvetica, Sans-Serif;
color: #3965B7;
margin:4px 0px 4px 0px;        
}
h3 {
font:bold 12pt Arial, Helvetica, Sans-Serif;
color: #3965B7;
margin:4px 0px 4px 0px; 
}
h4 {
font:bold 12pt Arial, Helvetica, Sans-Serif;
color: #000066;
margin:2px 0px 4px 0px; 
}
h5 {
font:bold 12pt Arial, Helvetica, Sans-Serif;
color: #0000A8;
}
hr {
color: #3965B7;
width : 85%;
text-align : left;
}
a {color:#003399; text-decoration:underline; font-weight:normal;}
a:visited {color:#003399; text-decoration:underline;  font-weight:normal;}
a:active {color:#003399; text-decoration:none; font-weight:italic;}
a:hover {color:#003399; text-decoration:underline; font-weight:normal;}
ol,ul{
	font: italic bolder 11pt "Courier New", Courier, monospace;
}
li{
	line-height:125%;
}
.clock {
COLOR: #000066;
HEIGHT:20px;
TEXT-DECORATION: none;
Font: 12px "Courier New", Courier, monospace;
TEXT-ALIGN: center;
margin:5px 0px 0px 0px;
border: 1px solid Olive;
width: 125px;
}
.sbttn {
BACKGROUND:#d6e7ef;
BORDER-BOTTOM:#104a7b 1px solid;
BORDER-LEFT:#afc4d5 1px solid;
BORDER-RIGHT:#104a7b 1px solid;
BORDER-TOP:#afc4d5 1px solid;
COLOR:#000066;
CURSOR:hand;
HEIGHT:19px;
Font-size:12px;
width:198px;
margin-bottom:5px;
padding-left:5px;
}
.tooltips { font:normal 12px Arial, Helvetica,sans-serif;}
table.tooltips{
background:transparent;
border:0px;
padding:0;
}
td.tooltips {
background: #FFFFC3;
margin:0;
padding:5px 5px 5px 5px;
border:1px solid #ffae00;
}
.opacity {
position:absolute; 
visibility:hidden; 
width:206px; 
top:0px; 
left:0%; 
z-index:1;
filter:Alpha(Opacity=94,style=0);
-moz-opacity: 0.94
}
.copy {font:bold 12px Times New Roman,Roman;color:gray;}
.comment{font:bold 14px Times New Roman,Roman;}