body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff url(../img/bg.png);
  color: #000000;
}
p {
	font: 18px Georgia, "Times New Roman", Times, serif;
	color: #999999;
	margin: 10px 0 10px 0;
}
p:first-letter {
	font-size: 18px;
  font-weight: bold;
	color: #000000;
}

ul,
ol {
	font: 18px "Times New Roman", Times, serif;
	color: #2f4f4f;
	margin: 10px 0 10px 0;
}

.babytd ul,
.babytd li {
  font: 16px Arial, Helvetica, sans-serif;
  color: #ff9900;
  padding: 0;
  display: inline;
}
.babytd li::after {
  content: " |"
}

.links ul,
.links ol,
.links li {
  font: 16px Arial, Helvetica, sans-serif;
  color: #2f4f4f;
  margin: 10px 0 10px 0;
  list-style: none;
}
.links a {
  text-decoration: none;
  color: #2f4f4f;
}
.links a:hover {
  color: #ff9900;
  cursor: hand;
}


li.links__now {
  font-weight: bold;
  color: #ff9900;
}
li.links__now::before {
  content: "> ";
}
li.links__now::after {
  content: " < |";
}

.babytd a:link {
  color: #ff9900;
  text-decoration: none;
}
.babytd a:visited {
  color: #666666;
}
.babytd a:hover {
  color: #333333;
  text-decoration: underline;
}
.babytd a:active {
  color: #333333;
  text-decoration: underline;
}

.orangehead {
  font-size: 40px;
  color: #ffbe63;
  margin: 5px 0 25px 0;
}
.grayhead {
  font-size: 40px;
  color: #cccccc;
  margin: 0;
}

#splash {
  position: absolute;
  left: 64px;
  top: 161px;
  width: 540px;
  height: 234px;
  z-index: 6;
  visibility: visible;
}
#splash ol {
  list-style: inside none decimal;
}
#splash ul {
  list-style: inside none circle;
}
#splash li::after {
  content: ";";
}
#splash li:last-child::after {
  content: ".";
}

#daddyLayer {
  position: absolute;
  width: 580px;
  height: 82px;
  z-index: 1;
  left: 12px;
  top: 20px;
  overflow: hidden;
}
#mommyLayer {
  position: absolute;
  width: 539px;
  height: 39px;
  z-index: 1;
  left: 33px;
  top: 9px;
  overflow: hidden;
  clip: rect(0 539 39 0);
}
#babyLayer {
  position: absolute;
  width: 2000px;
  height: 28px;
  z-index: 1;
  top: 11px;
  left: 0;
}